@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@500&display=swap');
@import "homepage.css";
@import "post1.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {

    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


nav {
    background-color: #1a1a1a;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
}

nav ul,
.nav-items {
    display: flex;
    gap: 15px;
}


nav form {
    display: flex;
}

#logo, #logo2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: white;
}

#logo:hover, #logo2:hover {
    color: #f0fd78;
    transition: 0.4s;
}

nav a {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

nav a:hover, .link:hover {
    color: #f0fd78;
    transition: 0.4s;
}

nav input {
    font-size: 15px;
    border: none;
    border-radius: 30px 0px 0px 30px;
    padding: 6px;
}

nav button {
    color: #1b1b13;
    padding: 6px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    font-weight: bold;
}

nav button:hover {
    background-color: #f0fd78;
    cursor: pointer;
    transition: 0.4s;
}
footer {
    background-color: #1a1a1a;
}
footer .container {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
}
footer .top-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
footer img {
    display: flex;
    justify-self: center;
    width: 200px;
}
.links {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 130px;
}
#group1, #group2, #group3, #group4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a {
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
}
.line {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.185);
    width: 300px;
    height: 8px;
}
.top-footer {
    flex-direction: column;
    align-items: center;
}
.bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.social-icons {
    display: flex;
    gap: 30px;
    justify-self: center;
}
.social-icons .fa {
    color:white;
    margin-bottom: 20px;
}
.social-icons .fa:hover {
    color:#f0fd78;
    transition: 0.3s;
}
footer p {
    color : white;
    font-family: sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}
@media (max-width: 980px) {
    .top-footer {
        flex-direction: column;
        align-items: center;
    }
    .links {
        margin-top: 20px;
        gap: 45px;
    }
    .links a {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    nav button {
        display: none;
    }

    nav input {
        border-radius: 30px 30px 30px 30px;
        font-size: 15px;
        width: 100px;
    }
}
@media (max-width: 905px) {
    #nav {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
    }

    nav button {
        display: none;
    }

    nav input {
        border-radius: 30px 30px 30px 30px;
        font-size: 10px;
        width: 80px;
    }
    #logo2 {
        font-size: 45px;
    }
    .links {
        flex-direction: column;
        gap: 40px;
    }
    .links a {
        font-size: 16px;
    }
    #group1, #group2, #group3, #group4 {
        gap: 10px;
    }
}
@media (max-width: 718px) {
    #nav ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}